[submodule "3rdParty/tpotce"]
	path = 3rdParty/tpotce
	url = git@github.com:dtag-dev-sec/tpotce.git
[submodule "3rdParty/docker-trisulnsm"]
	path = 3rdParty/docker-trisulnsm
	url = git@github.com:trisulnsm/docker.git
[submodule "3rdParty/docker-cacti"]
	path = 3rdParty/docker-cacti
	url = git@github.com:QuantumObject/docker-cacti.git
[submodule "3rdParty/t-pot-autoinstall"]
	path = 3rdParty/t-pot-autoinstall
	url = git@github.com:dtag-dev-sec/t-pot-autoinstall.git
[submodule "3rdParty/prometheus"]
	path = 3rdParty/prometheus
	url = git@github.com:prometheus/prometheus.git
[submodule "3rdParty/docker-mediawiki"]
	path = 3rdParty/docker-mediawiki
	url = git@github.com:kristophjunge/docker-mediawiki.git
[submodule "3rdParty/docker-clamav"]
	path = 3rdParty/docker-clamav
	url = git@github.com:tiredofit/docker-clamav.git
[submodule "3rdParty/docker-nagios"]
	path = 3rdParty/docker-nagios
	url = git@github.com:ethnchao/docker-nagios.git
[submodule "3rdParty/docker-rt"]
	path = 3rdParty/docker-rt
	url = git@github.com:jfcanaveral/docker-rt.git
[submodule "3rdParty/docker_shinken"]
	path = 3rdParty/docker_shinken
	url = git@github.com:rohit01/docker_shinken.git
[submodule "3rdParty/docker-suricata"]
	path = 3rdParty/docker-suricata
	url = git@github.com:shift/docker-suricata.git
[submodule "3rdParty/grIDS"]
	path = 3rdParty/grIDS
	url = git@github.com:gradiuscypher/grIDS.git
[submodule "3rdParty/dockprom"]
	path = 3rdParty/dockprom
	url = git@github.com:stefanprodan/dockprom.git
[submodule "3rdParty/docker-glpi"]
	path = 3rdParty/docker-glpi
	url = git@github.com:Turgon37/docker-glpi.git
[submodule "3rdParty/docker-glpi-pgower"]
	path = 3rdParty/docker-glpi-pgower
	url = git@github.com:PGower/docker-glpi.git
[submodule "3rdParty/OCSInventory-Docker-Image"]
	path = 3rdParty/OCSInventory-Docker-Image
	url = git@github.com:OCSInventory-NG/OCSInventory-Docker-Image.git
[submodule "3rdParty/OCSInventory-Docker-Stack"]
	path = 3rdParty/OCSInventory-Docker-Stack
	url = git@github.com:OCSInventory-NG/OCSInventory-Docker-Stack.git
[submodule "3rdParty/zabbix-docker"]
	path = 3rdParty/zabbix-docker
	url = git@github.com:zabbix/zabbix-docker.git
[submodule "3rdParty/ax-zabbix-docker"]
	path = 3rdParty/ax-zabbix-docker
	url = git@github.com:dimuskin/ax-zabbix-docker.git
[submodule "3rdParty/osticket-docker"]
	path = 3rdParty/osticket-docker
	url = git@github.com:pi0/osticket-docker.git
[submodule "3rdParty/docker-osticket"]
	path = 3rdParty/docker-osticket
	url = git@github.com:clementlecorre/docker-osticket.git
[submodule "3rdParty/virtualbox-python"]
	path = 3rdParty/virtualbox-python
	url = git@github.com:SethMichaelLarson/virtualbox-python.git
[submodule "3rdParty/go-vboxapi"]
	path = 3rdParty/go-vboxapi
	url = git@github.com:blacktop/go-vboxapi.git
[submodule "DockerConfigs/RT"]
	path = DockerConfigs/RT
	url = /home/roy/Dev/DRDNet/3rdParty/docker-rt/
[submodule "DockerConfigs/ClamAV"]
	path = DockerConfigs/ClamAV
	url = /home/roy/Dev/DRDNet/3rdParty/docker-clamav/
[submodule "DockerConfigs/Nagios"]
	path = DockerConfigs/Nagios
	url = /home/roy/Dev/DRDNet/3rdParty/docker-nagios
[submodule "DockerConfigs/Cacti"]
	path = DockerConfigs/Cacti
	url = /home/roy/Dev/DRDNet/3rdParty/docker-cacti
[submodule "DockerConfigs/Trisulnsm"]
	path = DockerConfigs/Trisulnsm
	url = /home/roy/Dev/DRDNet/3rdParty/docker-trisulnsm
[submodule "DockerConfigs/Shinken"]
	path = DockerConfigs/Shinken
	url = /home/roy/Dev/DRDNet/3rdParty/docker_shinken
[submodule "DockerConfigs/Ax-zabbix"]
	path = DockerConfigs/Ax-zabbix
	url = /home/roy/Dev/DRDNet/3rdParty/ax-zabbix-docker
[submodule "DockerConfigs/TPotCE"]
	path = DockerConfigs/TPotCE
	url = /home/roy/Dev/DRDNet/3rdParty/tpotce/
[submodule "DockerConfigs/grIDS_drdnet"]
	path = DockerConfigs/grIDS_drdnet
	url = /home/roy/Dev/DRDNet/3rdParty/grIDS
[submodule "DockerConfigs/OCSInventory-Stack"]
	path = DockerConfigs/OCSInventory-Stack
	url = /home/roy/Dev/DRDNet/3rdParty/OCSInventory-Docker-Stack
[submodule "DockerConfigs/PrometheusDocker"]
	path = DockerConfigs/PrometheusDocker
	url = /home/roy/Dev/DRDNet/3rdParty/dockprom
[submodule "DockerConfigs/Osticket"]
	path = DockerConfigs/Osticket
	url = /home/roy/Dev/DRDNet/3rdParty/osticket-docker
[submodule "DockerConfigs/Zabbix"]
	path = DockerConfigs/Zabbix
	url = /home/roy/Dev/DRDNet/3rdParty/zabbix-docker
[submodule "DockerConfigs/TPot-AI"]
	path = DockerConfigs/TPot-AI
	url = /home/roy/Dev/DRDNet/3rdParty/t-pot-autoinstall
[submodule "DockerConfigs/Mediawiki"]
	path = DockerConfigs/Mediawiki
	url = /home/roy/Dev/DRDNet/3rdParty/docker-mediawiki
[submodule "3rdParty/rt"]
	path = 3rdParty/rt
	url = git@github.com:bestpractical/rt.git
